extends layout 

block content
    .container
        .nav.row
            .col.d-flex
                button.btn.nav-icon.rounded-circle.ms-auto(type:button, style="height: 56px")
                    img.nav-icon-img(src='./images/icons/msg.svg')
            
            //- a.btn.nav-icon.mx-2(href="")
            //-     img.nav-icon-img(src="./images/icons/Search_icon.svg.png")
            //-     span.text-white 搜尋
                    
            .container-fluid
                .offset-md-3.col-md-6
                ul.nav.nav-tabs
                    li
                    a.h1.active(data-toggle='tab') 
                .col-md-12
                #page-contents.row
                    .col-md-3
                    .col-md-6
                    .central-meta
                        .frnds
                            h3#search-results 123
                form(class="form-signin" method="get" action="account/logout" style="max-width:480px;margin:auto")
                    div.mt-3
                        button.btn.nav-icon(class="btn btn-lg btn-outline-primary btn-block" type="submit" style="align: center") 登出            