extends layout 

block content
    .container
        .nav.row
            .col.d-flex
                button.btn.nav-icon.rounded-circle.ms-auto(type:button, style="height: 56px")
                    img.nav-icon-img(src='../images/icons/msg.svg')
            
            //- a.btn.nav-icon.mx-2(href="")
            //-     img.nav-icon-img(src="./images/icons/Search_icon.svg.png")
            //-     span.text-white 搜尋
            
            .col.d-flex.justify-content-end
                input.mx-2(type='type' style="height: 50px" placeholder='Search Friend' onkeypress='keypressInBox()')
                button.btn.nav-icon(data-ripple type='button' onclick='onSearch()')
                    img.nav-icon-img(src="../images/icons/Search_icon.svg.png" )
                    span.text-white 搜尋 
                    
            //- .container-fluid
            //-     .offset-md-3.col-md-6
            //-     ul.nav.nav-tabs
            //-         li
            //-         a.active(data-toggle='tab') People
            //-     .col-md-12
            //-     #page-contents.row
            //-         .col-md-3
            //-         .col-md-6
            //-         .central-meta
            //-            .frnds
            //-                ul#search-results 123
    .div(style='display: flex; justify-content: center;')               
        .divContainer(style='width: 60%; border: 1px solid #000;align: center; text-align: center; ')
            .divTableBody
                .divTableRow(style='text-align: center; border:0 px #000;')
                    h2.divTableCell Search
                .divTableRow
                    .divTableCell name
                        h1#search-results #{query}
                        button.btn.nav-icon(data-ripple type='button' onclick='addFriend()')
                            span#btnText.text-white 加好友