extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  .nav.row
    .col.d-flex
      h1.fw-bold.me-4.mb-0.text-white|PomoClock
      button.btn.nav-icon(type:button)
        img.nav-icon-img(src='./images/icons/icons8-spotify-30.svg')
        span.text-white 音樂
    .col.d-flex.justify-content-end
      a.btn.nav-icon.mx-2(href="")
        img.nav-icon-img(src="./images/icons/icons8-ookla-speedtest-30.svg")
        span.text-white 成就
      a.btn.nav-icon.mx-2(href="")
        img.nav-icon-img(src="./images/icons/friends.svg")
        span.text-white 好友
      a.btn.nav-icon.mx-2(href="")
        img.nav-icon-img(src="./images/icons/user.svg")
        span.text-white 帳號
    
  hr.border-2
  button.btn.nav-icon.rounded-circle.ms-auto(type:button, style="height: 56px")
        img.nav-icon-img(src='./images/icons/msg.svg')

