extends layout

block content
  // google font
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap' rel='stylesheet')
  // icon
  script(src='https://kit.fontawesome.com/4d9283736a.js' crossorigin='anonymous')
  // css
  link(rel='stylesheet' href='/stylesheets/index.css')

  section
    .containerIndex
      //- h1 Pomodoro
      .painel
        p#work Work
        p#break Break
      .timer
        .circle
          .time
            p#minutes 25
            p :
            p#seconds 00
          button#start(onclick='countdownToggle()')
            i.fa-solid.fa-play.position-relative
      .controls
        a#reset(href='/')
          i.fa-solid.fa-rotate-right

  section
    //.container.border.bg-light
  .row.mb-4
    .col-sm
      h1.text-center#task Task
  .row.justify-content-center
    .col-sm-10.col-lg-5
      .input-group.mb-3
        .input-group-text
          span#basic-addon1 &#x4EFB;&#x52D9;
        input#title.form-control(type='text' name='title' placeholder='標題')
        input#addbtn.btn(type='button' value='新增')
      .row.justify-content-center.maincontent

  button.btn.nav-icon.rounded-circle.ms-auto(type:button, style="height: 56px")
      img.nav-icon-img(src='./images/icons/msg.svg')
  // SCRIPT
  script(src='/javascripts/index.js')
  script(src='/javascripts/todolist.js')