extends layout


block content
    div.text-center.mt-5
        form(class="form-signin" method="post" action="/session/login" style="max-width:480px;margin:auto")
            h1(class=h1Classes)
                label( for="account" class="sr-only") 帳號
                input(type="text" id="id" class="form-control mb-3" placeholder="ID" name="email" required autofocus)
                label(for="password" class="sr-only") 密碼
                input(type="password" id="pw" class="form-control" placeholder="Password" name="pw" required autofocus)
            div.mt-3
                button(class="btn btn-lg btn-outline-primary btn-block" type="submit" id="login") 登入
                .g-signin2(data-onsuccess='onSignIn')

